// .homeCats .gameBoxes {
//   display: block;
// }

.gameBoxes {
  display: flex;
  flex-wrap: wrap;

  .slick-arrow {
    display: none!important;
    position: absolute;
    top: calc(50% - 15px);
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    padding: 0;

    svg {
      width: 30px;
      height: 30px;
    }

    @include breakpoint(tablet) {
      display: inline-block!important;
    }
  }
  .slideNext {
    right: -30px;
  }
  .slidePrev {
    left: -30px;
  }

  .gameBox {
    flex:0 1 50%;
    padding: 0 1em 1.5em;

    @include breakpoint(phablet) {
      flex:0 1 33%;
    }
    @include breakpoint(tablet) {
      flex: 0 1 25%;
    }
    @include breakpoint(laptop) {
      flex: 0 1 20%;
    }

    a {
      border: 2px solid $lightBlue;
      @include border-radius(5px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      .gameThumb {
        // height: 196px;
        
        img {
          @include border-radius(4px);
          max-height: 196px;
          margin: 0 auto;
          display: block;
        }
      }

      h5 {
        font-weight: 400;
        font-size: 1em;
        text-transform: capitalize;
        text-align: center;
        padding: 1em .75em;
        margin-bottom: 0;
      }

      .lastPrice {
        border-top: 2px solid $lightBlue;
        font-size: .625em;
        padding: .5em .5em 0;
        text-align: center;
    
        span {
          font-size: 1.75em;
          display: block;
          font-weight: 700;
        }
      }

      &:hover {
        h5 {
          text-decoration: underline;
        }
      }
    }

  }
}