.site-header {
  background-color: $white;
  border-bottom: 4px solid $blue;
  margin-bottom: 0;

  .site-logo {
    padding: .75em 0;
    display: block;

    @include breakpoint(phablet) {
      padding: 1.5em 0;
    }
    
    img {
      @include breakpoint(mobileonly) {
        max-height: 35px;
      }
    }
  }

  .container {
    .row {
      display: flex;
      flex-wrap: wrap;

      @include breakpoint(phablet) {
        flex-wrap: nowrap;
      }

      .headFlex {
        flex: 1 0 100%;

        @include breakpoint(phablet) {
          flex: 1 1 auto;
        }
      }

      .headMain {
        display:flex;
        align-items: center;

        .headerSearch {
          width: 100%;

          @include breakpoint(phablet) {
            padding-right: 3em;
          }
          @media (min-width: 1280px) { 
            padding-right: 0;
          }

          input {
            width: 100%;
            font-size: 1em;

            @include breakpoint(mobileonly) {
              margin-bottom: .75em;
            }
          }

          .resultContainer {
            width: calc(100% - 30px);
            left: 15px;

            .searchResults {
              li {
                a:link, a:visited {

                  span {
                    font-size: 1em;
                  }
                }
              }
            }
            .bggResults {
              ul {
                li {
                  font-size: 1em;
                  span {
                    font-size: .75em;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}