$button-size : 2.75rem; 
$transition: .3s; // increase this to see the transformations in slow-motion

.navicon-wrap { 
  display:block;
  position: absolute;
  z-index: 9999;
  top: 0;
  right: .5em;
  @include breakpoint(phablet) {
    top: .5em;
    right: .5em;
  }
  @include breakpoint(tablet) {
    top: 1em;
    right: 1em;
  }
  @include breakpoint(laptop) {
    top: 1.5em;
    right: 1.5em;
  }
  @include breakpoint(desktop) {
    top: 1.75em;
  }
  
}

.lines-button {
  display: inline-block;
  padding: $button-size/2 $button-size/4;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  border-radius: $button-size/7;
  background:transparent;
  border:none;
  outline:none;
 
  &:hover {
    opacity: 1;
  }
 
  &:active {
    transition: 0;
    background: rgba(0,0,0,.1);
  }
}

.lines {
   
  //create middle line
  @include line;
  position: relative; 
 
  /*create the upper and lower lines as pseudo-elements of the middle line*/
  &:before, &:after {
   
   @include line;
    position: absolute;
    left:0;
    content: '';
    transform-origin: $button-size/14 center;
  }
  &:before { top: $button-size/3.5; }
  &:after { top: -$button-size/3.5; }
}
 
.lines-button:hover {
  opacity: 1;
     
  .lines {
    &:before { top: $button-size/3; }
    &:after { top: -$button-size/3; }
  }
}

.lines-button.x.close .lines{
 
  /*hide the middle line*/
  background: transparent;

  /*overlay the lines by setting both their top values to 0*/
  &:before, &:after{
    transform-origin: 50% 50%;
    top:0;
    width: $button-size;
  }

  // rotate the lines to form the x shape
  &:before{
    transform: rotate3d(0,0,1,45deg); 
  }
  &:after{
    transform: rotate3d(0,0,1,-45deg); 
  }
}