.gameInfoContainer {
  margin-bottom: 1em;
  
  @include breakpoint(phablet) {
    margin-bottom: 3em;
  }

  .gameImage {
    margin-bottom: 1em;
    
    @include breakpoint(phablet) {
      margin-bottom: 1.5em;
    }

    img {
      max-height: 200px;
      margin: 0 auto 1em;
      display: block;

      @include breakpoint(phablet) {
        max-height: 350px;
      }
    }
  }

  .gameInfoTop {
    margin-bottom: 1.5em;

    hr {
      margin: .5em 0;

      @include breakpoint(phablet) {
        margin: 1em 0;
      }
    }
    .offersTop {
      justify-content: space-between;
      align-items: top;
      h4 {
        font-size: .925em;
        font-weight: 600;
        margin-right: 1em;
        float: left;
      }
      .lastLowest {
        font-size: .75em;
        text-align: right;
        margin-bottom: 0;
        float: right;
        span {
          font-weight: 600;
        }
      }
    }
    .priceTable {
      margin-bottom: .5em;
    }
    .model {
      font-size: .75em;
      font-weight: 700;

      span {
        font-weight: 400;
      }
    }
  }
}
.gameStats {
  margin: 0 0 1.5em 0;
  padding: 0;
  list-style: none;
  border: 2px solid $lightBlue;
  @include border-radius(6px);

  li {
    padding: .625em .75em;
    border-bottom: 2px solid $lightBlue;

    &:last-child {
      border-bottom: none;
    }

    h6 {
      padding-left: 1.75em;
    }

    p {
      margin: 0;
      // position: relative;
      // padding-left: 1.5em;

      span {
        width: 1.5em;
        display: inline-block;
        margin-right: .25em;
      }

      // &:before {
      //   // display: none;
      //   position: absolute;
      //   padding-left: 1em;
      //   width: 1em;
      //   height: 1em;
      //   font-family: $iconFontFamily;
      // }
    }
    // &.age p:before {
    //   content:'\f073';
    // }
  }
}
.gameTitle {
  h1 {
    font-size: 1.5em;
    margin: 0;
    font-weight: 500;

    @include breakpoint(phablet) {
      font-size: 2em;
    }
  }
}
.gameDescription {
  font-size: .875em;
  line-height: 1.625em;
}
.priceTable {
  border: 2px solid $lightBlue;
  @include border-radius(8px);

  > div:last-child .priceRow {
    border-bottom: none;
  }

  .priceRow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: .25em .5em;
    border-bottom: 2px solid $lightBlue;

    @include breakpoint(phablet) {
      flex-wrap: nowrap;
      padding: .5em .875em;
    }
    
    div {
      flex: 1 0 50%;
      padding: .25em .5em;
      text-align: center;

      @include breakpoint(phablet) {
        flex: 1 1 25%;
      }

      &.rowName {
        text-align: center;
        @include breakpoint(phablet) {
          text-align: left;
        }
      }
      &.rowPrice {
        font-weight: 800;
      }
      &.rowLink {
        text-align: center;

        @include breakpoint(phablet) {
          text-align: right;
        }
      }
      &.rowStock {
        span {
          font-size: .75em;
        }
      }
    }
    
    a.storeBtn:link, a.storeBtn:visited {
      display: inline-block;
      padding: .675em 1em;
      font-size: .875em;
      background: $orange;
      color: $grayLighter;
      @include border-radius(4px);
      @include transition(all 0.3s ease-in-out);

      @include breakpoint(mobileonly) {
        display: block;
      }
    }
    a.storeBtn:hover, a.storeBtn:active {
      background: $darkOrange;
      color: $white;
    }
    
  }
}
.catBox {
  background: #eee;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 4px;

  h5 {
    font-size: 1em;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      font-size: .875em;

      a {
        display: block;
        padding: .125em 0;
        @include transition(all 0.3s ease-in-out);
        &:hover {
          padding-left: .25em;
        }
      }
    }
  }
}