// Grays
// -------------------------
$black:                 #000;
$grayDarker:            #222;
$grayDark:              #333;
$gray:                  #555;
$grayLight:             #d4d4d4;
$grayLighter:           #EFEFEF;
$white:                 #fff;


// Accent colors
// -------------------------
$blue:                  #3F5765;
$blueTrans:             rgba(63,87,101,.95);
$lightBlue:             #BDD4DE;
$lightBlueTrans:        rgba(189,212,222,.75);
$darkBlue:              #2B3A42;
$orange:                #FF530D;
$darkOrange:            darken($orange,15%);
$lightOrange:           lighten($orange,15%);
$red:                   #c33c54;
$lightRed:							lighten($red,15%);
$darkRed:               darken($red,15%);


// Site Colors
// -------------------------
$primary-color:   $blue;
$secondary-color:	$red;



// Typography
// -------------------------
//$font-stack:      Helvetica, sans-serif;

$sansFontFamily:        'Raleway', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif;
$monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;
$iconFontFamily:				'Font Awesome 5 Solid', 'Font Awesome 5 Regular', 'Font Awesome 5 Light';

$baseFontSize:          16px;
$baseFontFamily:        $sansFontFamily;
$baseLineHeight:        20px;
$altFontFamily:         $serifFontFamily;

$headingsFontFamily:    inherit; // empty to use BS default, @baseFontFamily
$headingsFontWeight:    bold;    // instead of browser default, bold
$headingsColor:         inherit; // empty to use BS default, @textColor